<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<% if @task.completed? %>
  <p>task completed</p>
<% else %>
  <p>task is incomplete</p>
<% end %>

<p><%= link_to "edit", edit_task_path %></p>

<p><%= link_to "Back to task list", tasks_path %></p>
